var config = {};

config.main = {};
config.qs = {};

config.main.port = 3000;

config.qs.host = 'localhot';
config.qs.origin = 'localhost';
config.qs.userDirectory = 'internal';
config.qs.user = 'sa_repository';
config.qs.certpath = 'C:\\CertStore\\localhost\\';
config.qs.virtualproxy = '';

module.exports = config;
