var config = {};

config.main = {};
config.qs = {};

config.main.port = 3000;
config.main.calledurl = 'http://localhost';

config.qs.host = 'https://localhost:4242';
config.qs.certpath = '';

module.exports = config;
